body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

header{
    margin: 0px;
    display: flex;
    justify-content: space-between;
    background-color: #683257;
}

header h1{
    position: relative;
    height: 30px;
    font-size: 25px;
}

header p{
    font-size: 15px;
    margin-right: 15px;
}

.menu{
    display: flex;
}

.control{
    width: 100%;
    height: 40px;
    margin: 10px 5px 5px 5px;
}

